* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	background-image:url(dust_scratches.png);
}

/* ==========HEADER=========== */

header {
	width:100%;
	background:white;
	border-bottom:1px solid #cccccc;
}
.header-name {
	font-size:32px;
	font-weight:bold;
	font-family:'Georgia', Times, Times New Roman, serif;
	color:white;
	background:#4aaaa5;
	float:left;
	padding:20px;
	margin-left:4%;
}
.header-links {	
	font-size:20px;
	display:inline-block;
	position:relative;
	height: 72px;
	top:30px;
	width: 25%;
	margin-left: 28%;
}

.header-links a {
	text-decoration: none !important;
	color:gray;
	padding:10px;
}

/* ============/HEADER============= */

/* ==========MAIN SECTION========== */

.aboutme {
	font-size:28px;
	font-weight:bold;
	font-family:'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom:2px solid #cccccc;
}	
.connect-with-me {
	font-size:22px;
	font-weight:bold;
	font-family:'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom:2px solid #cccccc;
}
#logo {
	width:50px;
	margin:3px;
}
#me {
	clear:both;
	float:left;
	width:200px;
	padding-right:10px;
}
a {
	color:gray;
	font-family:arial;
}
.mainContainer {
	color:#777777;
	background-image:url(dust_scratches.png);
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:18px;
	width:960px;
	line-height:30px;
}
.content {
	float:left;
	width:600px;
	margin-top:5%;
	margin-left:5%;
	margin-bottom:5%;
	background:#ffffff;
	border:1px solid #dddddd;
	padding:30px;
}
.contact-info {
	float:left;
	width:270px;
	height:200px;
	margin-top:5%;
	margin-left:2%;
	padding-bottom:5%;
	background:#ffffff;
	border:1px solid #dddddd;
	text-align:center;
}
footer {
	clear:both;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:12px;
	color:#777777;
	text-align:center;
	border-top:10px solid #4aaaa5;
	background-color:#666666;
	height:80px;
	width:100%;
	bottom:0px;
	left:0px;
	position:relative;
}

/*---------/MAIN SECTION*----------*/
/*----------CONTACT PAGE*----------*/

input[type=message] {
    height:150px;
}

.button {
	background-color:#4aaaa5;
	border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
	font-size: 16px;
    display: inline-block;
	font-size: 16px;
	margin: 10px 1px;
}

/*----------*PORTFOLIO*-------------*/

#dog {
	width:260px;
	height:180px;
	padding:10px;
}
#lavender {
	width:260px;
	height:179px;
	padding:10px;
}
#lipstick {
	width:260px;
	padding:10px;
}
#forest {
	width:260px;
	padding:10px;
}
#sheep {
	width:260px;
	padding:10px;
}